.padding {
    padding-left: 60px;
    padding-top: 70px;
    margin: 0;
}


.color {color:white;}


.size {font-size:40px;}


.pad {padding-left: 30px;}



.top {
       
       padding-top: 60px;
       text-align: center;
       margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 160px;
    overflow: hidden;
    background-color: #361406;
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:black;
  }


  section #services {
    text-align: center;
    transform: translatez(0);
  }
  section #services h2 {
    margin: 80px 0px 40px;
    color: #fff;
    font-size:50px;
    text-transform: uppercase;
    text-align: center;
  }
  section #services li {
    width: 420px;
    height: 440px;
    display: inline-block;
    margin: 20px;
    list-style: none;
  }
  section #services li div {
    width: 420px;
    height: 420px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    background-color: #fff;
    transition: all 0.5s ease;
  }
  section #services li a {
    color: #77cc6d;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
  }
  section #services li span {
    width: 420px;
    height: 120px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
  }
  .credits a {
    display: block;
    text-align: center;
    color: #74d4b3;
    text-decoration: none;
    font-size: 60px;
    margin-top: 60px;
    background: white;
    padding: 20px;
    max-width: 600px;
  }



  